@import "./reset.css";
@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Playfair+Display&display=swap');
<style>
@import url('https://fonts.googleapis.com/css2?family=Lobster&family=Noto+Sans&family=PT+Sans:wght@400;700&display=swap');
</style>


/* font-family: 'Montserrat', sans-serif;
font-family: 'Playfair Display', serif; */


body {
    
    line-height: normal;
    font-family: 'Playfair Display', serif;
       
}

.container {

    width: 1200px;
    padding: 0 15px;
    margin: 0 auto;
             
}



/* cекция */

.section {

    padding-top: 90px;
    padding-bottom: 90px;
    
}

.section-header {

    margin-bottom: 60px;
    text-align: center;
    
}

/* кнопка */

.button {

    display: inline-block;
    color: #000;
    border:  1px solid #000;
    border-radius: 4px;
    font-size: 22px;
    padding: 12px 40px 16px;
    text-transform: uppercase;
    transition: background-color 0.2s ease-in, color 0.2s ease-in, border 0.2s ease-in;

}

.section-button {

    text-align: center;
    
}

.button:hover, .button:focus {

    color: #fff;
    background-color: #000;
       
}

.button:active {
    
    position: relative;
    top: 1px;
    border: 1px solid #444444;
    background-color: #444444;
           
}

/* заголовки  */

.title {

    margin-bottom: 10px;
    font-size: 42px;
    
}

.subtitle {

    font-size: 14px;
    font-family: 'Montserrat', sans-serif;
    text-transform: uppercase;
    
}

/* карточка */

.section-cards {

    margin-bottom: 50px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    column-gap: 30px;
    row-gap: 60px;

}


.card {

    width: 270px;
        
}

.card-body {

    padding: 20px 10px;
    text-align: center;
    border: 1px solid #C1D1D4;
    border-top: none;

}

.card-title {

    margin-bottom: 15px;
    font-size: 22px;
    
}


.card-descrition {
    
    font-size: 14px;
    font-family: 'Montserrat', sans-serif;
    margin-bottom: 20px;
    line-height: 1.5;

}

a.card-link {

    font-size: 20px;
    color: #0277B9;
    text-decoration: underline;

}











